.btn{
    border: none !important;
    border-radius: 0px !important;
    margin-right: 10px;
}
.btn:focus{
    box-shadow: none;
}
.site-btn{
    font-weight: 300;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #051b35 !important;
}
.site-btn:active{
    background: #051b35 !important;
}

.pure-material-button-contained{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.pure-material-button-contained:hover,
.pure-material-button-contained:focus{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0px rgba(0,0,0, 0.14), 0 1px 10px 0px rgba(0,0,0,0.12);
}


.pure-material-button-contained:focus::before{
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before{
    opacity: 0.3;
}

.pure-material-button-contained:active{
    box-shadow: 0 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0, 0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
}

.pure-material-button-contained:active:after{
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}


.site-btn-login{
    font-weight:300;
    padding: 5px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #051b35 !important;

}